li {
  list-style-type: none;
}
* {
  font-family: 'KoHo', sans-serif;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 15px;
}
a {
  color: #34b7eb;
}
a:hover {
  color: #3256a8;
}
html {
  scroll-behavior: smooth;
}
#contents {
  border: 1px solid black;
  width: 300px;
}
img {
  width: 150px;
  float: right;
  display: inline;
  margin-right: 100px;
  transition: 1s;
}
p {
  width: 800px;
}
div {
  background-color: #34b7eb;
  width: 110%;
  display: inline-block;
  position: relative;
  left: -5%;
  height: 40px;
  top: 10px;
  text-align: center;
  color: white;
  line-height: 35px;
}
#caption {
  float: right;
  position: relative;
  left: 90px;
  top: 100px;
  font-size: 10px;
  color: grey;
}
